  <div class="container">
    <div class="col-xs-3"><br><br><br><br><br><br>
      <h2>マイページ</h2><br><br>
      <h3>登録情報</h3>
      <table class="table table-bordered">
        <tr>
          <th>氏名</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <th><%= @user.email %></th>
           </tr>
      </table>
      <th><%= link_to "User編集", edit_user_path, class: 'btn btn-primary' %></th>
      <th><%= link_to "退会ヘ進む", quit_path, class: 'btn btn-danger' %></th>
    </div>
  </div>
