  <div class="text-center"><br><br><br><br><br><br>
    <h1><strong>About</strong></h1><br><br>
      <p>釣りが好きな方や、初めて釣りをする人に向けたサイトです。</p>
      <p>近畿地方だけになりますが</p>
      <p>お気に入りの海釣り公園や行ってみたいと思う海釣り公園を</p>
      <p>見つけてもらえるようにまとめて掲載しており</p>
      <p>少しでも釣りに興味を持っていただければと思い、このサイトを作りました。</p>
      <p>皆さんのお役に立てれば幸いです。</p>
  </div>
