  <div class="text-center"><br><br><br><br><br><br>
    <h1><strong>ようこそ！ <p>Fishing&fishサイトへ！</strong></p></h1><br><br>
      <p>近畿の海釣り公園に特化し</p>
      <p>釣りをする人やこれから釣りをしたい人が</p>
      <p>どこで釣りをするかを探すサイトです。</p>
      <p>使用するには、新規登録を行う必要があります。
  </div>