  <div class="text-center"><br><br><br><br><br><br>
    <h1><strong>About</strong></h1><br><br>
    <h3>
      <p>釣りが好きな方や、初めて釣りをする人に向けたサイトです。</p>
      <p>近畿地方だけになりますが</p>
      <p>お気に入りの海釣り公園や行ってみたいと思う海釣り公園を</p>
      <p>見つけてもらうようにまとめて掲載しており</p>
      <p>少しでも釣りに興味を持ってもらえるようにこのサイトを作りました。</p>
      <p>皆さんのお役に立てれば幸いです。</p>
    </h3>
  </div>
