  <div class="col-xs-1"></div>
    <div class="col-xs-9">
      <h1>主に釣れる魚概要</h1>
      <h3><%= link_to '魚の概要サイトはこちらへ',"https://fishai.jp/", target: :_blank %></h3>
      <table class="table">
        <thead>
          <tr>
            <th><h3>&ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; 魚の名前</h3></th>
            <th>
              <h3>概要&emsp; &emsp; &emsp; &emsp; </h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><h3><strong>メバル</strong></h3></th>
            <th><h3>浅場の岩礁域や海藻の茂る場所を好み、1年中釣れるが主に<strong>11月～4月</strong>がよく釣れる。</th>
          </tr>
          <tr>
            <th><h3><strong>チヌ</strong></h3></th>
            <th><h3>チヌとは、通称クロダイと呼ばれている。日本列島の幅広い区域に生息しており、1年中狙うことのできる魚種。旬は、基本的に<strong>５月～１０月</strong>。</h3></th>
          </tr>
          <tr>
            <th><h3><strong>ガシラ</strong></h3></th>
            <th><h3>通称カサゴ。カサゴは関西とか四国では、カサゴ（ガシラ）と呼ぶ。ガシラは根掛かりがしやすい堤防や磯まわりなどの岩礁帯に棲息している。1年中釣れるが主に<strong>4月～9月</strong>がよく釣れる。</h3></th>
          </tr>
            <th><h3><strong>アイナメ</strong></h3></th>
            <th><h3>岩礁帯の底付近を好み、岩などの隙間に生息している。アイナメの釣れる時期は、アイナメの適水温は8～15°Cとされているため、<strong>11月～４月の晩秋から初春の寒い時期</strong>。</h3></th>
          </tr>
          <tr>
            <th><h3><strong>カレイ</strong></h3></th>
            <th><h3>カレイは1年中狙うことができるが、基本的には<strong>11月中旬～4月ごろ</strong>。カレイの産卵期は1～2月のためあまり釣れず、産卵後3～4月はよく釣れます。</h3></th>
          </tr>
          <tr>
            <th><h3><strong>グレ</strong></h3></th>
            <th><h3>通称メジナ。関西圏や九州ではグレと呼ばれる。メジナ（グレ）の産卵は３月～５月のため、あまり釣れず、梅雨に入ると活発に活動するので、<strong>梅雨の時期</strong>によく釣れる。</h3></th>
          </tr>
          <tr>
            <th><h3><strong>ハゲ</strong></h3></th>
            <th><h3>通称カワハギ。関西圏や中国地方ではハゲと呼ばれる。カワハギ（はげ）1年中狙うことができるが、<strong>5月～9月</strong>、<strong>11月〜2月</strong>と2回の旬がある。</h3></th>
          </tr>
          <tr>
            <th><h3><strong>アジ</strong></h3></th>
            <th><h3>基本的には1年中釣れるが、主に<strong>6月～12月頃</strong>釣れる。アジは群れで行動する習性があるため、一度釣れるとアジの群れがいることがわかる。</h3></th>
          </tr>
          <tr>
            <th><h3><strong>サバ</strong></h3></th>
            <th><h3>4月〜12月まで釣れますが、主に<strong>9月~10月</strong>がよく釣れる。9月～10月では大物が釣れやすくなるため、手ごたえのある釣りになる。</h3></th>
          </tr>
          <tr>
            <th><h3><strong>ハマチ</strong></h3></th>
            <th><h3>ハマチは出世魚（しゅっせうお）とも呼ばれ、大きくなるにつれて、モジャコ（ワカナゴ）→ツバス→ハマチ→メジロ（オオイオ）→ブリとなる。ハマチは西での呼び名になる。ハマチは、4月～12月に釣ることができ、主に<strong>7月～11月</strong>がよく釣れる。</h3></th>
          </tr>
          <tr>
            <th><h3><strong>スズキ</strong></h3></th>
            <th><h3>スズキは出世魚（しゅっせうお）とも呼ばれ、大きくなるにつれて、コッパ→セイゴ→フッコ→スズキとなる。1年中狙える魚ですが、ベストシーズンは<strong>秋から初冬</strong>。</h3></th>
          </tr>
          <tr>
            <th><h3><strong>タイ</strong></h3></th>
            <th><h3>あまり広範囲を動き回らず、海底の根周りを中心に、水深10～100mの岩礁帯や砂礫底の場所に生息している。基本的には1年中釣れるが、主に<strong>春から晩秋</strong>にかけて釣れる。</h3></th>
          </tr>
          <tr>
            <th><h3><strong>イシダイ</strong></h3></th>
            <th><h3>沿岸部の岩礁域や岩の隙間などに潜み、海底付近に生息している。水温が１８～２４°Cで活発に活動するため、主に<strong>春と秋4～11月ごろ</strong>が釣りのシーズン。</h3></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div

